<div class="container mt-5">
  <h2>Donner Avis</h2>
  <hr>
  <!-- <p>M. Jacques souhaite obtenir votre avis sur la production ci-dessous</p> -->
  <p class="message">
    What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
    typesetting industry Lorem Ipsum has been the industry's standard dummy text
    ever since the 1500s when an unknown printer took a galley of type and
    scrambled it to make a type specimen book it has?
  </p>
  <div class="container row demandeavis">
    <div class="col-md-1">
      <img class="circle" src="/assets/Capture d’écran 2021-06-28 à 16.23.38.png" alt="profil">
    </div>
    <div class=col-md-8>
      <p class="nom"> <strong>Ragnar LothBrock</strong> </p>
      <p class="titre"> Expert Video Publicitaire</p>
    </div>
  </div>
  <div>
    <h2 class="titre1">Contexte</h2>
    <p class="message">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
      typesetting industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type and
      scrambled it to make a type specimen book it has?What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
      typesetting industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type and
      scrambled it to make a type specimen book it has?What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
      typesetting industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type and
      scrambled it to make a type specimen book it has? <br>
     Voir : <a href="#">www.reehhee.com/ckkd/Ddd</a> 
    </p>
  </div>
  <!-- <p> Voir : <a href="#">www.reehhee.com/ckkd/Ddd</a> </p> -->

<div class="container">
<div class="form-group col-md-8">
  <textarea
    formControlName="text"
    placeholder="Saisissez votre reponse ici..."
    class="form-control rounded-0 champstexte"
    id="exampleFormControlTextarea2"
    rows="3"
  ></textarea>
</div>
</div>
<div class="container">
<button type="submit" class="btn btn-success">
  J'envoie mon avis
</button>
</div>