<div class="container mt-5">
  <h2>Demande d'avis</h2>
  <!-- <p>M. Jacques souhaite obtenir votre avis sur la production ci-dessous</p> -->
  <p>
    What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
    typesetting industry Lorem Ipsum has been the industry's standard dummy text
    ever since the 1500s when an unknown printer took a galley of type and
    scrambled it to make a type specimen book it has?
  </p>
  <p id="coins">Vous avez actuellement : 50 Fiverrcoin.</p>
  <!-- <p> Voir : <a href="#">www.reehhee.com/ckkd/Ddd</a> </p> -->
</div>

<div class="container global">
  <form (ngSubmit)="form.valid && soumettre()" [formGroup]="form">
    <div class="form-group col-md-12">
      <textarea
        formControlName="text"
        placeholder="Détaillez l'objet de votre demande d'avis ici ..."
        class="form-control rounded-0 champstexte"
        id="exampleFormControlTextarea2"
        rows="3"
      ></textarea>
    </div>
    <div class="">
      <select
        class="form-select mt-3 myselect col-md-3 mb-3"
        aria-label="Default select example"
      >
        <option selected>Destinataires</option>
        <option value="1">Développeur Mobile</option>
        <option value="2">Développeur Java</option>
        <option value="3">Experts SEO</option>
        <option value="4">Pro Vidéo</option>
        <option value="5">Photographe</option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-success">
        Je fais ma demande d'avis
      </button>
    </div>
  </form>
</div>
