<div class="container mt-5">
<h2>Demande d'avis</h2>
<!-- <p>M. Jacques souhaite obtenir votre avis sur la production ci-dessous</p> -->
<p>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the 
    printing and typesetting industry Lorem Ipsum has been the industry's 
    standard dummy text ever since the 1500s when an unknown printer took 
    a galley of type and scrambled it to make a type specimen book it has?
</p>
<!-- <p> Voir : <a href="#">www.reehhee.com/ckkd/Ddd</a> </p> -->
</div> 

<div class="container global">

<div class="form-group col-md-12 ">
    <textarea placeholder="Détaillez l'objet de votre demande d'avis ici ..." class="form-control rounded-0 champstexte" id="exampleFormControlTextarea2" rows="3"></textarea>
</div>
<div class="">
<select class="form-select mt-3 myselect col-md-3 mb-3 " aria-label="Default select example">
    <option selected>Destinataires</option>
    <option value="1">Developpeur</option>
    <option value="2">Pro Video</option>
    <option value="3">Experts SEO</option>
  </select>
</div>
<div>
    <button type="button" class="btn btn-success">Je fais ma demande d'avis</button>
</div>

</div>